*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* BODY BACKGROUND IMAGE */

body{

  min-height:100vh;

  display:flex;

  justify-content:center;

  align-items:center;

  background:
    linear-gradient(
      rgba(255,255,255,0.45),
      rgba(255,255,255,0.45)
    ),
    url("background.png");

  background-size:cover;

  background-position:center;

  background-repeat:no-repeat;

  overflow:hidden;
}

/* MAIN CONTAINER */

.game-container{

  width:85%;

  max-width:750px;

  padding:50px 40px;

  border-radius:35px;

  text-align:center;

  background:rgba(255,255,255,0.72);

  backdrop-filter:blur(10px);

  box-shadow:0 20px 50px rgba(0,0,0,0.15);

  border:2px solid rgba(255,255,255,0.4);
}

/* TITLE */

h2{

  font-size:3rem;

  color:#5C3D2E;

  margin-bottom:10px;
}

/* SUBTITLE */

.subtitle{

  color:#6B4F4F;

  font-size:1.2rem;

  margin-bottom:35px;
}

/* BALLS ROW */

.cups-row{

  display:flex;

  justify-content:center;

  gap:40px;

  margin:50px 0;

  flex-wrap:wrap;
}

/* TENNIS BALLS */

.cup{

  font-size:120px;

  cursor:pointer;

  transition:0.3s ease;

  animation:bounceBall 1.8s infinite ease-in-out;

  user-select:none;

  filter:drop-shadow(0 10px 12px rgba(0,0,0,0.2));
}

/* HOVER EFFECT */

.cup:hover{

  transform:scale(1.15) rotate(-12deg);
}

/* BALL ANIMATION */

@keyframes bounceBall{

  0%{
    transform:translateY(0);
  }

  50%{
    transform:translateY(-18px);
  }

  100%{
    transform:translateY(0);
  }
}

/* MESSAGE */

.game-message{

  font-size:1.8rem;

  font-weight:bold;

  color:#3C2A21;

  min-height:50px;

  margin-bottom:20px;
}

/* WIN */

.win-text{
  color:#2E8B57;
}

/* LOSE */

.lose-text{
  color:#D7263D;
}

/* WIN ANIMATION */

.win-animation{

  animation:winner 0.7s infinite alternate;
}

@keyframes winner{

  from{
    transform:scale(1);
    filter:drop-shadow(0 0 5px gold);
  }

  to{
    transform:scale(1.2);
    filter:drop-shadow(0 0 20px gold);
  }
}

/* BACK LINK */

.back-link{

  text-decoration:none;

  color:#6B4F4F;

  font-weight:bold;

  transition:0.3s;
}

.back-link:hover{

  color:#FF6B00;
}
